<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jamshedpur.nit.culfest.com.culfest17">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/culfest"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChildEvent"
            android:screenOrientation="portrait"/>
        <activity android:name=".TeamActivity" android:screenOrientation="portrait" />
        <activity android:name=".SubEvent" android:screenOrientation="portrait" />
        <activity android:name=".FirstActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>